

.table-container {
  margin: 20px;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.rows tr:nth-child(even){
  background-color: rgb(230, 230, 230);
}

.add-user-btn {
  display: block;
  margin-bottom: 1rem;
  padding: 8px 16px;
  font-size: 16px;
  color: rgb(0, 123, 255);
  background-color: white;
  border: 2px solid #007bff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.add-user-btn:hover {
  background-color: #007bff;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: white;
}

th,
td {
  padding: 8px;
  border: 1px solid #dee2e6;
  text-align: left;
}

th {
  font-weight: bold;
}

/* tbody tr:nth-child(even) {
  background-color: #f2f2f2;
} */

.action-btn {
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.view-btn {
  background-color: white;
  border: 1px solid lightgray;
  color: black;
  transition: 0.2s ease;
}

.view-btn:hover {
  background-color: #117a8b;
  color: white;
}

.edit-btn {
  background-color: white;
  border: 1px solid lightgray;
  color: black;
  transition: 0.2s ease;
}

.edit-btn:hover {
  background-color: #d39e00;
  color: white;
}

.delete-btn {
  background-color: white; 
  color: black;
  border: 1px solid lightgray;
  transition: 0.2s ease;
}

.delete-btn:hover {
  background-color: #c82333;
  color: white;
}

.pagination {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.page-btn,
.per-page-select {
  margin: 0 5px;
  padding: 5px 10px;
}

.page-btn.active {
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
}

.page-btn:hover,
.per-page-select:hover {
  cursor: pointer;
}
