.login{
    background: url(../../../bg.png) no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.login_formBox{
    width: 20%;
}

.login_formBox_inputContainers{
    display: flex;
    align-items: center;
    margin-top: 1rem ;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;
}
.login_formBox_inputContainers input{
    width: 100%;
    outline: none;
    border: none;
    padding: 0.5rem ;
    border-radius: 5px;
    font-size: 0.9rem;
    background: none;
    color: white;
}

.login_formBox_inputContainers input::placeholder {
    color: white;
}
.login_formBox_inputContainers input:-webkit-autofill {
    background: none !important;
    -webkit-box-shadow: 0 0 0 1000px rgb(32, 72, 192) inset !important;
    -webkit-text-fill-color: white !important;
}
.input-container .icon {
    padding: 10px;
    padding: 0 10px;
    color: white;
  }

.login-btn{
    width: 100%;
    margin-top: 1.5rem;
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    color: #0057FC;
    transition: 0.3s ease;
}
.login-btn:hover{
    background-color: rgb(230, 229, 237);
}

h4{
    text-align: center;
    color: white;
    margin-top: 0.5rem;
}